html {
    margin: clamp(2em,3vw,5rem);
}

body {
background: #009688; 
margin: 0%;
display: flex;
justify-content: center;

}

header {
        color: #efef5e;
}

#pagina {
    display: grid;
 background: #37954b;
 padding: 10px;

}
