html {
    margin: clamp(2em,3vw,5rem);
}

body {
    background: #d95959;
    margin: 0%;
    display: flex;
    justify-content: center;

}

header {
font-size: clamp(1rem,3vw,2rem);

}

#pagina {
    display: grid;
 background: #f0f9f3;
 padding: 10px;
 border-radius: 10px;
}
